.header {
    padding: 15px 0;
    border-bottom: 1px solid;
    --tw-border-opacity: 1;
    border-color: rgb(var(--b3) / var(--tw-border-opacity));
    height: 90px;
}

.body {
    display: flex;
    padding-top: 23px;
    width: 100%;
    justify-content: center;
    .inner {
        --width: 600px;
        max-width: var(--width);
        width: var(--width);
        display: flex;
        flex-direction: column;
        height: 200px;

        form {
            > div {
                display: flex;
                align-items: center;
                > div {
                    width: 100%;
                    margin-bottom: 0.9375rem;
                    border-radius: 0.125rem;
                    > div {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        > div {
                            width: 150px;
                        }

                        .input {
                            width: 50%;
                            margin: 0 10px;
                            input {
                                width: 100%;
                                padding: 10px 20px;
                                border: 1px solid;
                                --tw-border-opacity: 1;
                                border-color: rgb(var(--b3) / var(--tw-border-opacity));
                                &:focus {
                                    border-color: black;
                                }
                            }
                            button {
                                background-color: var(--primary-color);
                                color: white;
                                padding: 8px 14px;
                            }
                        }

                        button {
                            background-color: transparent;
                            cursor: pointer;
                            color: #888;
                        }
                    }
                }
            }
        }
    }
}
