.wrapper {
    display: flex;
    justify-content: center;
    margin-top: var(--default-layout-header-height);
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(var(--b1) / var(--tw-bg-opacity));
    .container {
        width: calc(var(--default-layout-width) / 2);
        padding-bottom: 40px;
        padding-top: 16px;

        .header {
            > div {
                min-height: 53px;
                padding: 10px;
                display: flex;
                align-items: center;
                > div {
                    margin-right: 10px;
                    font-weight: 600;
                    font-size: 2rem;
                    > div:first-child {
                        cursor: pointer;
                    }
                }
            }
        }

        .body {
            padding: 10px;
            margin-bottom: 40px;
            > p {
                color: #777;
                font-size: 13px;
                margin-bottom: 20px;
            }

            > div {
                font-weight: 700;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                input {
                    border: 1px solid #999;
                    padding: 4px 0;
                    padding-left: 10px;
                    width: 250px;
                    border-radius: 6px;

                    &:focus {
                        border-color: var(--primary-color);
                    }
                }
                > div {
                    margin-top: 20px;
                    button {
                        background-color: var(--primary-color);
                        color: white;
                        padding: 6px 8px;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
