.wrapper {
    display: flex;
    justify-content: center;
    margin-top: var(--default-layout-header-height);
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(var(--b1) / var(--tw-bg-opacity));
    .container {
        width: calc(var(--default-layout-width) / 2);
        padding-bottom: 40px;
        padding-top: 16px;

        .header {
            > div {
                min-height: 53px;
                padding: 10px;
                display: flex;
                align-items: center;
                > div {
                    margin-right: 10px;
                    font-weight: 600;
                    font-size: 2rem;
                    > div:first-child {
                        cursor: pointer;
                    }
                }
            }
        }

        .body {
            padding: 10px;
            margin-bottom: 40px;
            > p {
                color: #777;
                font-size: 13px;
                margin-bottom: 20px;
            }

            > div {
                > div:first-child {
                    border: 2px solid var(--primary-color);
                    cursor: pointer;
                    background: #fff;
                    border-radius: 15px;
                    padding: 10px 20px;
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    .cps-icon {
                        padding: 22px;
                        border-radius: 50px;
                        background-color: #ffd9d9;
                        display: flex;
                        height: 68px;
                        width: 68px;
                        .icon {
                            height: 24px;
                            color: var(--primary-color);
                        }
                    }

                    .method_content {
                        margin-left: 15px;
                        overflow: hidden;
                        .content__name {
                            font-size: 1.2rem;
                        }
                        .content {
                            font-weight: 700;
                            font-size: 14px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            input {
                                border: 1px solid #999;
                                padding: 4px 0;
                                padding-left: 10px;
                                width: 250px;
                                border-radius: 6px;
                            }
                        }
                    }
                }
                > button {
                    cursor: pointer;
                    display: block;
                    background: var(--primary-color);
                    border: 0.5px solid hsla(0, 0%, 46.7%, 0.5);
                    box-shadow: 0 4px 4px rgba(255, 0, 0, 0.2);
                    border-radius: 25px;
                    text-align: center;
                    color: #fff;
                    padding: 11px 0;
                    margin-top: 20px;
                    width: 100%;

                    &:disabled {
                        opacity: 0.6;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}
