.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    --tw-bg-opacity: 1;
    background-color: rgb(var(--b1) / var(--tw-bg-opacity));
    margin-top: var(--default-layout-header-height);
    padding: 24px 0;

    .container {
        width: var(--default-layout-width);
        .category {
            background-color: white;
            border-radius: 8px;
            padding: 24px;
            h1 {
                font-size: 24px;
                line-height: 34px;
            }
            p {
                font-size: 14px;
                line-height: 150%;
                max-width: 600px;
                margin-top: 0.6rem;
            }
            hr {
                margin: 1rem 0;
                border-top: 0.1rem;
                border-top-color: rgb(var(--b1));
            }

            .category_item {
                display: flex;
            }
        }

        .filter {
            margin-top: 16px;

            .filter_list {
                padding: 12px 0;
                display: flex;

                .filter_item {
                    display: flex;

                    .arrange_item {
                        display: flex;
                        align-items: center;
                        padding: 2px 8px;
                        cursor: pointer;
                        input {
                            margin-right: 4px;
                        }
                    }
                }

                .filter_wrapper {
                    padding: 4px 8px;
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0px, 1fr));
                    row-gap: 0.25rem;
                    column-gap: 1rem;
                    .filter_itemm {
                        display: flex;

                        input {
                            margin-right: 4px;
                        }
                    }
                }
            }
        }

        .non-product {
            padding: 24px 0 40px;
            align-items: center;
            display: flex;
            flex-direction: column;
            > div {
                margin-top: 16px;
                padding: 0 8px;
                align-items: center;
                display: flex;
                flex-direction: column;
                > span {
                    font-size: 1.8rem;
                    line-height: 150%;
                    font-weight: 600;
                }
                > p {
                    font-size: 1.4rem;
                    line-height: 150%;
                    text-align: center;
                    margin-top: 12px;
                }

                > a {
                    margin-top: 32px;
                    > button {
                        font-size: 1.6rem;
                        --tw-text-opacity: 1;
                        color: rgb(var(--pc) / var(--tw-text-opacity));
                        --tw-bg-opacity: 1;
                        background-color: rgb(var(--p) / var(--tw-bg-opacity));
                        padding: 0 12px;
                        height: 44px;
                        border-radius: 4px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
        }

        .more_product {
            height: 44px;
            margin-top: 24px;
            display: flex;
            justify-content: center;

            button {
                width: 364px;
                padding: 0 12px;
                background-color: white;
                --tw-text-opacity: 1;
                color: rgb(var(--p) / var(--tw-text-opacity));
                font-size: 1.6rem;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
}
